<footer>
<div class="container-fluid ">
    <ul class=" sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <li><a class="navbar-brand ps-3 pe-3" routerLink="">Home</a></li>
    <li><a class="navbar-brand ps-3 pe-3" routerLink="form">Form</a></li>
    <li><a class="navbar-brand ps-3 pe-3" routerLink="404">Lien pour aller à la page 404, because why not</a></li>
    <li><a class="navbar-brand ps-3 pe-3" routerLink="users">Users</a></li>
</ul>
</div>

<div class="py-4 bg-light mt-auto">
    <div class="text-muted"> Copyrighted 2023 </div>
</div>
</footer>